body {
  background-color: #1d3557;
}
.logo {
  max-width: 100px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}

.h-one {
  color: white;
  margin-top: 32px;
}
.preference {
  padding-top: 31px;
}
.choice-select {
  padding: 7px;
}
label {
  color: white;
}
input {
  border-style: none;
}
.min,
.max {
  max-width: 50px;
  padding: 10px 20px;
}

.divchild {
  text-align: center;
}
.divchild-unique {
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 20px 40px;
  border: none;
  background-color: #ff7800;
  color: white;
  font-size: 17px;
}
div.preferene {
  text-align: center;
}
.divchild-range {
  margin-top: 40px;
}
.divchild-range h1 {
  text-align: center;
}
.border {
  border: 2px solid white;
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
header {
  display: flex;
}
nav {
  display: none;
}
#section1 {
  display: none;
}
#section2 {
  text-align: center;
}
@media screen and (min-width: 840px) {
  nav {
    display: block;
  }
  .logo {
    margin: 0;
  }
  header {
    justify-content: space-between;
    padding: 0 37px;
  }
  #section1 {
    display: block;
  }
  .container {
    display: flex;
    margin-top: 70px;
    padding: 0 40px;
    justify-content: space-between;
  }
  .landing-one,
  .landing-two {
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
  }
  .landing-two {
    color: white;
  }
  .landing-one {
    color: #ff7800;
  }
  .paragraphe-landing {
    color: white;
  }
  #section2 {
    padding-right: 200px;
  }
  a:hover {
    text-decoration: underline;
  }
  /* hada ghaydir select lga3 inputs mnghir li 3endha attribute fih type="checkboc" */
  input:not([type="checkbox"]),
  select {
    width: 100%;
  }
}
