body{
    background-color: #D49361;
}
.logo {
max-width: 100px;
margin: 0 auto;
}
.logo img {
    width: 100%;
}

.h-one {
    margin-top: 32px;
}
.preference {
    padding-top: 31px;
}
.choice-select {
    padding: 7px;
    
}
input {
    border-style: none;
}
.min, .max {
    max-width: 50px;
    padding: 10px 20px;
    
}

.divchild{
    text-align: center
}
.divchild-unique {
    text-align: center;
}
.preference {
    margin-left: 54px;
    padding-top: 31px;
}
button {
    width: 187px;
    height: 39px;
    background-color: black;
    color: white;
    font-size: 17px;
}
div.preferene {
    text-align: center;
}
.divchild-range {
    margin-top: 40px;
}
#volume {
    border: 1px solid black;
    width: 58%;
    margin-left: 50px;
    margin-top: 33px;
}
.divchild-range h1 {
    text-align: center;
}
.border {
    border: 2px solid white;
    height: 84px;
    margin-left: 57px;
    margin-right: 64px;
}
button {
    width: 215px;
    margin-left: 73px;
    margin-top: 22px;
    height: 64px;
}



